.blog {
    width: 100%;
    max-width: 768px;
    padding: 32px 32px 32px 64px;

    .box-sizing(border-box);

    font-size: 1.5em;
    font-weight: 200;

    &__entry {
        h1, h2, h3, h4 {
            margin: 0;

            a {
                color: inherit;
                text-decoration: none;
            }
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2em;
        }

        blockquote {
            font-weight: 400;
            font-style: italic;

            p {
                &::before {
                    content: "«";
                }

                &::after {
                    content: "»";
                }
            }
        }

        p {
            a {
                color: @link-color;

                &:hover {
                    background-color: @link-color;

                    color: @background-color;
                    text-decoration: none;
                }
            }
        }

        .figure {
            width: 100%;

            text-align: center;

            .caption {
                display: none;
            }

            img {
                max-width: 80%;
                margin: 0 auto;
            }
        }

        &__metadata {
            display: block;

            margin: .5em 0 2em 0;
        }

        &__link {
            a {
                color: @link-color;
                font-weight: 400;
                text-decoration: none;

                &.tweet {
                    cursor: pointer;
                }
            }
        }

        &__footer {
            color: rgba(0, 0, 0, 0.25);
            font-weight: 400;
            text-shadow: 0 1px rgba(255, 255, 255, 0.024)
        }
    }

    .separator:not(:last-child) {
        margin-bottom: 1em;
    }
}

@media (max-width: 649px) {
    .blog {
        padding: 16px;

        &__entry {
            h1 {
                font-size: 2em;
            }

            .figure {
                    img {
                    max-width: 100%;
                }
            }
        }
    }
}
