.blog {
    width: 100%;
    max-width: 750px;
    padding: 32px 32px 32px 64px;

    .box-sizing(border-box);

    font-size: 1.5em;
    font-weight: 200;

    h1 {
        font-size: 3em;

        margin-top: 0;
    }

    h2 {
        font-size: 2em;
        margin: 0;
    }

    .figure {
        width: 100%;

        text-align: center;

        .caption {
            display: none;
        }

        img {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}
