@import (inline) 'monokai-sublime.css';

@import 'fonts.less';
@import 'mixins.less';

@background-color: #1b1f23;
@color: #f4f4f4;
@link-color: #1bfcb5;

@import 'portfolio.less';
@import 'blog.less';

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;

    background-color: @background-color;

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-kerning: none;
    color: @color;
}

body.fuckfest {
    @keyframes enlarge-my-mustache {
        100% { width: 300%; }
    }

    @keyframes rotate-my-mustache {
        0% { transform: rotate(0); }
        100% { transform: rotate(1turn); }
    }

    object {
        animation: enlarge-my-mustache 3s 0s ease-in-out infinite alternate,
                   rotate-my-mustache 5s 0s ease-in-out infinite normal;
    }
}

.left {
    float: left;

    width: 400px;
    padding: 0 16px 8px 16px;

    .box-sizing(border-box);

    object {
        width: calc(~"100% + 32px");
        height: auto;
        margin-left: -16px;
    }

    h1 {
        display: inline-block;

        padding: 0;
        margin: 0;

        font-size: 6.1em;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    p {
        font-size: 1.5em;
        font-weight: 200;

        a {
            color: @link-color;

            &:hover {
                background-color: @link-color;

                color: @background-color;
                text-decoration: none;
            }

            &.social {
                color: @color;
                text-decoration: none;

                &:hover {
                    background-color: transparent;

                    color: @link-color;
                }
            }
        }
    }
}

.right {
    float: left;
    width: calc(~"100% - 400px");
}

.separator {
    width: 100%;
    height: 1px;

    border-top: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px rgba(255, 255, 255, 0.024) inset;
}

.small {
    font-size: .8em;
}

.align-right {
    text-align: right;
}

.hidden {
    color: @background-color;
}

@media (max-width: 649px) {
    .left, .right {
        float: none;
        width: 100%;
    }
}
