/**
* @Author: Paul Joannon <paulloz>
* @Date:   2016-02-12T22:48:56+01:00
* @Email:  hello@pauljoannon.com
* @Last modified by:   paulloz
* @Last modified time: 2016-02-12T22:48:57+01:00
*/

.sourceCode {
    font-size: .9em;
}

.sourceCode .dv,
.sourceCode .ss,
.sourceCode .sc {
  color: #ae81ff;
}

.hljs-code {
  color: #a6e22e;
}

.sourceCode .kw,
.sourceCode .cf {
  color: #f92672;
}

.sourceCode .at {
  color: #66d9ef;
}

.sourceCode .st,
.sourceCode .va {
  color: #e6db74;
}

.sourceCode .co {
  color: #75715e;
}
