.portfolio {
    width: 100%;
    padding: 32px 0 32px 32px;

    .box-sizing(border-box);

    &__item {
        position: relative;

        display: inline-block;

        width: calc(~"25% - 21px");
        height: 200px;
        margin: 0 16px 16px 0;

        text-align: center;
        text-decoration: none;

        overflow: hidden;

        border: 1px solid rgb(0, 0, 0);

        box-shadow: inset 0 1px 10px rgba(0, 0, 0, .6);

        &__background {
            display: block;

            position: absolute;
            z-index: 10;

            width: 100%;
            height: 100%;

            background-position: center;
            background-size: cover;
        }

        &__title {
            display: block;

            position: relative;
            top: 50%;
            z-index: 50;

            opacity: 0;

            color: @color;
            font-size: 2.3em;
            font-weight: 600;

            .transform(translate(0, -50%));
        }

        &::before {
            content: '';

            display: block;

            position: absolute;
            z-index: 20;

            opacity: 0;

            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, .7);

            .transition(opacity .4s linear);
        }

        &:hover {
            .portfolio__item__title, &::before {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1479px) {
    .portfolio__item {
        width: calc(~"33% - 21px");
    }
}

@media (max-width: 1079px) {
    .portfolio__item {
        width: calc(~"50% - 21px");
    }
}

@media (max-width: 767px) {
    .portfolio__item {
        width: calc(~"100% - 21px");
    }
}

@media (max-width: 649px) {
    .portfolio {
        padding-left: 16px;

        &__item {
            width: calc(~"50% - 21px");
        }
    }
}

@media (max-width: 399px) {
    .portfolio__item {
        width: calc(~"100% - 21px");
    }
}
