@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url(./fonts/YanoneKaffeesatz-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url(./fonts/YanoneKaffeesatz-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url(./fonts/YanoneKaffeesatz-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url(./fonts/YanoneKaffeesatz-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: #1b1f23;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #f4f4f4;
}

.left {
    max-width: 400px;
    padding: 0 16px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

object {
    width: calc(100% + 32px);
    height: auto;
    margin-left: -16px;
}

h1 {
    display: inline-block;

    padding: 0;
    margin: 0;

    font-size: 5.2em;
}

p {
    font-size: 1.5em;
    font-weight: 200;
}

p a {
    color: #1bfcb5;
}

p a:hover {
    background-color: #1bfcb5;

    color: #1b1f23;
    text-decoration: none;
}

p a.social {
    color: #f4f4f4;
    text-decoration: none;
}

p a.social:hover {
    background-color: transparent;

    color: #1bfcb5;
}

.separator {
    width: 100%;
    height: 1px;

    border-top: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px rgba(255, 255, 255, 0.024) inset;
}
