@import "bootstrap/less/bootstrap.less";
@import "fontawesome/less/font-awesome.less";

@import "variables.less";

@import "header.less";

html, body, .container {
    background-color: @body-bg;
}

body {
    padding-top: @navbar-height;
    position: relative;
}

.container {
    width: 100%;
}

.anchor {
    display: block;
    position: relative;
    top: -@navbar-height;
    height: 1px;
    width: 1px;
    margin: 0px;
    padding: 0px;
}

.content {
    display: block;
}

@import "index.less";