.header {
    &__navbar {
        background-color: #333;

        &__logo {
            height: 100%;
        }

        .navbar-brand {
            color: #fff;

            span {
                color: #888;
                font-size: 13px;
            }
        }
    }
}