.content__index {
    width: 100%;

    h2 {
        color: @brand-primary;
        text-transform: uppercase;
    }

    &__catch, &__contact {
        p {
            color: black;
        }
    }

    &__catch {
        padding-top: 50px;
        padding-bottom: 50px;

        img {
            float: left;
            margin-right: 15px;
            width: 100px;
            border-radius: .5em;
            border: 4px solid #dedede;
        }

    }

    &__apropos {
        @apropos_bg_color: #161a1d;

        background-color: @apropos_bg_color;
        padding-top: 15px;
        padding-bottom: 65px;

        hr {
            border-color: lighten(@apropos_bg_color, 3%);
        }
    }

    &__contact {
        &__inner {
            padding-top: 75px;
            padding-bottom: 100px;
            text-align: center;

            .btn {
                border-radius: 0;
                border-color: darken(#161A1D, 7%);
                background-color: @brand-primary;
                color: #161A1D;

                &:hover {
                    background-color: #161A1D;
                    color: @brand-primary;
                }
            }
        }
    }
}

@import "projects.less";