.content__index {
    width: 100%;

    h2 {
        color: @brand-primary;
        text-transform: uppercase;
    }

    &__catch {
        padding-top: 50px;
        padding-bottom: 50px;

        p {
            color: black;
        }
    }

    &__apropos {
        background-color: #161a1d;
        padding-top: 15px;
        padding-bottom: 65px;
    }

    &__contact {
        &__inner {
            padding-top: 75px;
            padding-bottom: 100px;
            text-align: center;

            .btn {
                border-radius: 0;
                border-color: darken(#161A1D, 7%);
                background-color: @brand-primary;
                color: #161A1D;

                &:hover {
                    background-color: #161A1D;
                    color: @brand-primary;
                }
            }
        }
    }
}

@import "projects.less";