@fa-font-path: "/assets/vendor/fontawesome/fonts";

@brand-primary: #ff6f40;
@body-bg: #faf9f7;
@text-color: #fff;

@navbar-height: 50px;

@font-size-base: 16px;
@font-size-h1: 16px;
@font-size-h2: 24px;