<div class="separator"></div>
<p>
    <a href="mailto:hello@pauljoannon.com">hello[at]pauljoannon[dot]com</a>
    <br>
    <i class="fas fa-xs fa-lock"></i>&nbsp;0x128B663C
<p>
    <a title="PLZ" class="social" target="_blank" href="https://paulloz.com"><i class="fas fa-lg fa-pen-square"></i></a>
    <a title="@pauljoannon sur Twitter" class="social" target="_blank" href="https://twitter.com/pauljoannon"><i class="fab fa-lg fa-twitter-square"></i></a>
    <a title="Paulloz sur GitHub" class="social" target="_blank" href="https://github.com/paulloz"><i class="fab fa-lg fa-github-square"></i></a>
    <a title="paulloz sur Reddit" class="social" target="_blank" href="https://reddit.com/user/paulloz"><i class="fab fa-lg fa-reddit-square"></i></a>
    <a title="Paulloz sur Steam" class="social" target="_blank" href="https://steamcommunity.com/id/paulloz"><i class="fab fa-lg fa-steam-square"></i></a>
</p>
