<div class="separator"></div>
<p>
    <a href="mailto:hello@pauljoannon.com">hello[at]pauljoannon[dot]com</a>
    <br>
    <i class="fa fa-lock"></i>&nbsp;0x128B663C
<p>
    <a title="PLZ" class="social" target="_blank" href="/blog"><i class="fa fa-lg fa-pencil-square"></i></a>
    <a title="@pauljoannon sur Twitter" class="social" target="_blank" href="https://twitter.com/pauljoannon"><i class="fa fa-lg fa-twitter-square"></i></a>
    <a title="Paulloz sur GitHub" class="social" target="_blank" href="https://github.com/paulloz"><i class="fa fa-lg fa-github-square"></i></a>
    <a title="paulloz sur Reddit" class="social" target="_blank" href="https://reddit.com/user/paulloz"><i class="fa fa-lg fa-reddit-square"></i></a>
    <a title="Paulloz sur Flickr" class="social" target="_blank" href="https://flickr.com/photos/paulloz"><i class="fa fa-lg fa-flickr"></i></a>
    <a title="Paulloz sur Steam" class="social" target="_blank" href="https://steamcommunity.com/id/paulloz"><i class="fa fa-lg fa-steam-square"></i></a>
</p>
