<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$site_title$</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />
    </head>
    <body data-spy="scroll" data-target=".header">
        <div class='container'>
            <div class='row header'>
                <nav class="header__navbar navbar navbar-default navbar-fixed-top" rol="navigation">
                    <div class="container-fluid">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <img class="header__navbar__logo" src="/assets/images/logo.png" alt="pauljoannon" />
                                    Paul Joannon <span>aka Paulloz</span>
                                </a>
                            </div>

                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">À propos</a></li>
                                    <li><a href="#">Projets</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                <div class="navbar-right">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#"><i class="fa fa-twitter"></i> @pauljoannon</a></li>
                                        <li><a href="#"><i class="fa fa-github"></i> Paulloz</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
