<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$site_title$</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/default.css" />

        <script type="text/javascript" src="/assets/vendor/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body data-spy="scroll" data-offset="50" data-target="#header">
        <div class='container'>
            <div class='row header' id="header">
                <nav class="header__navbar navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="col-xs-1 col-md-2"></div>
                        <div class="col-xs-10 col-md-8 header__navbar__centered">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">
                                    <img class="header__navbar__logo" src="/assets/images/logo.png" alt="pauljoannon" />
                                    Paul Joannon <span>aka Paulloz</span>
                                </a>
                            </div>

                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li><a href="#apropos">À propos</a></li>
                                    <li><a href="#projets">Projets</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                                <p class="navbar-text navbar-right">
                                    <a href="#"><i class="fa fa-twitter"></i> @pauljoannon</a>
                                    &nbsp;
                                    <a href="#"><i class="fa fa-github"></i> Paulloz</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-1 col-md-2"></div>
                    </div>
                </nav>
            </div>
            <div class='row content'>
                <div class="col-xs-1 col-md-2"></div>
                    <div class="col-xs-10 col-md-8">
                        $body$
                    </div>
                <div class="col-xs-1 col-md-2"></div>
            </div>
        </div>
    </body>
</html>
