<!doctype html>
<html>
    <head>
        <title>$main-title$ - $title$</title>

        $partial("templates/_head.html")$
        <script type="text/javascript" src="/js/blog.js"></script>
        <script type="text/javascript" src="/js/blog-entry.js"></script>
    </head>
    <body>
        <div class="left">
            $partial("templates/_left-top.html")$
            $partial("templates/_left-blog.html")$
            $partial("templates/_left-bottom.html")$
        </div>

        <div class="right">
            <div class="blog">
                <div id="entry" class="blog__entry">
                    <h2>$title$</h2>
                    $if(subtitle)$
                        <h3>$subtitle$</h3>
                    $endif$
                    <span class="blog__entry__metadata small">
                        <i class="fa fa-calendar"></i>&nbsp;<span class="date">$date$</span>
                        &nbsp;
                        <i class="fa fa-tag"></i>&nbsp;$tags-list$
                    </span>
                    $body$
                    <p class="blog__entry__link small align-right">
                        <span>
                            <a href="javascript:window.history.back()"><i class="fa fa-angle-left"></i>&nbsp;Retour</a>
                        </span>
                        &nbsp;
                        <span>
                            <a href="#entry"><i class="fa fa-angle-up"></i>&nbsp;Remonter</a>
                        </span>
                        &nbsp;
                        <span>
                            <a class="tweet"><i class="fa fa-twitter"></i>&nbsp;Tweeter</a>
                        </span>
                    </p>
                    <div class="separator"></div>
                    <div class="blog__entry__footer">
                        <p>
                            Non, non, il n'y a pas de commentaires sur ce blog.
                            <br>
                            Pour toute réaction, insulte ou mot d'amour, les liens pour me contacter sont un peu plus haut sur la gauche. ❤️
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
