<!doctype html>
<html>
    <head>
        <title>$main-title$$if(tag)$ - $tag$$endif$</title>

        $partial("templates/_head.html")$
        <script type="text/javascript" src="/js/blog.js"></script>
    </head>
    <body>
        <div class="left">
            $partial("templates/_left-top.html")$
            $partial("templates/_left-blog.html")$
            $partial("templates/_left-bottom.html")$
        </div>

        <div class="right">
            <div class="blog">
                $for(entries)$
                    <div class="blog__entry">
                        <h2><a href="$url$">$title$</a></h2>
                        $if(subtitle)$
                        <h3><a href="$url$">$subtitle$</a></h3>
                        $endif$
                        <span class="blog__entry__metadata small">
                            <i class="fa fa-calendar"></i>&nbsp;<span class="date">$date$</span>
                            &nbsp;
                            <i class="fa fa-tag"></i>&nbsp;$tags-list$
                        </span>
                        $teaser$
                        <p class="blog__entry__link">
                            <span>
                                <a href="$url$">
                                    <i class="fa fa-angle-right"></i>&nbsp;Lire la suite
                                </a>
                            </span>
                        </p>
                    </div>
                    <div class="separator"></div>
                $endfor$
            </div>
        </div>

        $partial("templates/_piwik.html")$
    </body>
</html>
