<!doctype html>
<html class="cv">
    <head>
        <title>Paul Joannon - $title$</title>

        $partial("templates/_head.html")$
    </head>
    <body class="cv">
        <div class="left">
            <h1><a href="$main-url$">$main-title$</a></h1>
            <img src="/content/cv/pjoannon.jpg"/>
            <h2>$title$<br>$description$</h2>
            <p>
                <br>
                $body$
            </p>
            <p>
                <ul>
                    <li><i class="fa fa-phone"></i> (+33) 6 24 57 50 53</li>
                    <li><a href="mailto:hello@pauljoannon.com"><i class="fa fa-envelope"></i> hello@pauljoannon.com</a></li>
                    <li><i class="fa fa-lock"></i> 0x128B663C</li>
                    <li><a href="http://pauljoannon.com"><i class="fa fa-link"></i> http://pauljoannon.com</a></li>
                    <li><a href="https://github.com/paulloz"><i class="fa fa-github"></i> paulloz</a></li>
                    <li><a href="https://twitter.com/pauljoannon"><i class="fa fa-twitter"></i> @pauljoannon</a></li>
                </ul>
            </p>
        </div>

        <div class="right">
            <div class="blog">
                $skills$
                $experience$
                $personnal-projects$
                $school$
            </div>
        </div>
    </body>
</html>
