<div class='content__index'>
    <div class="row content__index__catch">
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <p>
                    Farther down the wall, someone’s up ahead.  That a survivor?  No ma’am, it’s a Gasfella, forced out from underground. Big, tough, and blue, with an orange hood.  Fella spots the Kid. Comes right at him, pickaxe ready to strike.  Kid pops him good.
                </p>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
    $about$
    $projects$
    <div class="row content__index__contact">
        <a class="anchor" id="contact"></a>
        <div class="col-xs-1 col-md-2"></div>
        <div class="col-xs-10 col-md-8">
            <div>
                <h2>Contact</h2>
                <p>Proper story’s supposed to start at the beginning.  Ain’t so simple with this one.  Now here’s a kid whose whole world got all twisted, leaving him stranded on a rock in the sky.  He gets up.  Sets off for the Bastion.  Where everyone agreed to go in case of trouble.   The ground forms up under his feet as if pointing the way.  He don’t stop to wonder why.  Finds his lifelong friend just lying in the road.  Well it’s a…touching reunion.  His old friend comforts the Kid in more ways than one.  He sees what’s left of the Rippling Walls.  Years of work undone in an instant.  In the Calamity.  Nothing could have stopped it.  Kid just rages for a while.</p>
                <p>Proper story’s supposed to start at the beginning.  Ain’t so simple with this one.  Now here’s a kid whose whole world got all twisted, leaving him stranded on a rock in the sky.  He gets up.  Sets off for the Bastion.  Where everyone agreed to go in case of trouble.   The ground forms up under his feet as if pointing the way.  He don’t stop to wonder why.  Finds his lifelong friend just lying in the road.  Well it’s a…touching reunion.  His old friend comforts the Kid in more ways than one.  He sees what’s left of the Rippling Walls.  Years of work undone in an instant.  In the Calamity.  Nothing could have stopped it.  Kid just rages for a while.</p>
            </div>
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
</div>